.content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 70px;
}

.leftColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid #ccc;
  /* Fine vertical line */
  padding-right: 20px;
  /* Adjust padding to create space around the line */
}

.rightColumn {
  flex: 1;
  padding-left: 20px;
}