.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
h2{
  color:#ffffff;
}
.container {
  background-color: #1b1f23;
  color: #ffffff;
  width: 970px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #444;
  padding-bottom: 10px;
}

.clearButton {
  background: none;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 95px;
  height: 35px;
  transition: background-color 0.3s, color 0.3s; 
  font-size: 14px;
}

.clearButton:hover {
  background-color: #ffffff; 
  color: #000000; 
  border: 2px solid #ffffff;
}


.content {
  max-height: 400px;
  overflow-y: auto;
}

.dateSection {
  margin-bottom: 20px;
}

.date {
  color: #cccccc;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.closeButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
}

.closeButton {
  background: none;
  border: 2px solid #ffffff; 
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 120px; 
  height: 45px;
  transition: background-color 0.3s, color 0.3s; 
}

.closeButton:hover {
  background-color: #ffffff; 
  color: #000000; 
  border: 2px solid #ffffff;
}

.closeText {
  font-weight: bold;
}
.date {
  color: #ffffff;
  font-size: 0.9rem;
  margin-bottom: 10px;
  font-weight: bold; 
}
.separator {
  border: none;
  border-top: 1px solid #444444;
  margin: 10px 0; /* Ajustez les marges selon vos besoins */
  width: 100%;
}
