:root {
  --background-color-light: #ffffff;
  --text-color-light: #000000;

  --background-color-dark: #1b1f23;
  --text-color-dark: #ffffff;
}

[data-theme="light"] {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

[data-theme="dark"] {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggleButton {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.toggleButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.holder {
  background-color: red;
  border: 2px solid var(--button-border);
  border-radius: 4px;
  cursor: pointer;
}

.lightToggle {
  padding: 5px 7px;
  background-color: #1b1f23;
}

.darkToggle {
  padding: 5px 7px;
  background-color: #fff;
}