.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.left,
.right {
    width: 10%;
    position: relative;
    display: flex;
}

.left {
    justify-content: right;
    padding-right: 20px;
    border-right: 1px solid var(--border-color);
}

.right {
    justify-content: left;
    padding-left: 20px;
    border-left: 1px solid var(--border-color);
}

.content {
    position: fixed;
    top: 0;
    height: 100%;
    padding-top: 35px;
}

.center {
    flex: 1;
}

.burger {
    width: 32px;
    margin-top: 40px;
    margin-bottom: 30px;
}

@media screen and (max-width: 1675px) {

    .left,
    .right {
        width: 75px;
    }
}